/**
 * File generated with tools/dbToModel generator (in the root of this project)
 * To generate again: `node ./tools/dbToModel`
 * @author Jonathan Diego Rodríguez Rdz. <jonathan@bquate.com>
 */
const { Model } = require('objection');
const knex = require('{{{dbFile}}}');

