{{#classes}}
let {{modelName}};
{{/classes}}

{{#classes}}
/**
 * {{tableName}} model
 * @extends Model
 */
{{modelName}} = class extends Model {

  /**
   * @override
   */
  static get tableName() {
    return '{{tableName}}';
  }

  /**
   * @override
   */
  static get jsonSchema() {
    return {
      type: 'object',
      required: {{{requireds}}},
      search: {{{searches}}},
      properties: {
        {{#properties}}
        {{name}}: {
          type: {{{type}}},
          {{#items}}
          items: [{{{items}}}]
          {{/items}}
        },
        {{/properties}}
      }
    }
  }

  /**
   * @override
   */
  static get relationMappings() {
    return {
      {{#relations}}
      {{name}}: {
        relation: Model.HasOneRelation,
        modelClass: {{targetModel}},
        join: {
          from: '{{tableName}}.{{column}}',
          to: '{{targetTableName}}.{{targetColumn}}'
        }
      },
      {{/relations}}
    };
  }

}

{{/classes}}

module.exports = {
  {{#classes}}
  {{#dbFile}}
  {{modelName}}: {{modelName}}.bindKnex(knex),
  {{/dbFile}}
  {{^dbFile}}
  {{modelName}},
  {{/dbFile}}
  {{/classes}}
}